@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var selection = CurrentPage.Site().FirstChild("ProjectsMain").Children("ProjectsItem").Where("Visible"); }

@if (selection.Any())
{
	<ul class="dropdown-menu" role="menu">
		@foreach (var item in selection)
		{
			if (item.projectStatus == "Completed")
			{
					<li>
						<a href="@item.Url">@item.Name - @item.projectStatus</a>
					</li>
			}
		}
	</ul>
}