@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="well">
    <h2>@Umbraco.Field("aboutTitle")</h2>

</div>
<div class="col-md-12">
@if (CurrentPage.HasValue("aboutImage"))
    {
        <img src='@CurrentPage.aboutImage.src' width="100%" height="200px" alt="image" />
    }
</div>
<div class="col-md-12">
    <p>@Umbraco.Field("mainText")</p>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <h4>Vision</h4>
        <p>We deliver a broad spectrum of IT managed services, making your IT delivery practices as agile as your business needs to be.</p>
    </div>
    <div class="col-md-4">
        <h4>People</h4>
        <p>Kaj Jensen</p>
		<p>Søren C</p>
		<p>Hugo Hansen</p>
    </div>
    <div class="col-md-4">
        <h4>Skills</h4>
        <p>@Umbraco.Field("columnBody")</p>
    </div>
</div>